h1{
    border: 5px solid red;
}
img{eG4ERIDY.KG,VMF 
    border-style: solid;
    width: 250px;
}
.box1{
    width: 350px;
    height: 350px;
    background-color: chocolate;
    border-radius: 160px;
    align-items: end;
}
.box2{
     width: 200px;
    height: 25px;
    background-color: chocolate;
    border-radius: 100px;
}
