body{
    overflow-x: scroll;
    overflow-y: scroll;
}
.box3{
    position: relative;
    left: 200px;
}
.box1{
    position: relative;
    top: 200px;
}
img{
    position: relative;
    left: 150px;
    width: 200px;
    top: 100px;

    
}